*{
box-sizing: border box;}
body
{
    margin:0px;
    font-family: "Roboto","sans-serif";}
$shadow-color:#f5eeee;
header{
    padding: 1rem;
    z-index:1000;
    display: block;
    box-shadow:5px 15px 5px $shadow-color;
    border-bottom:$shadow-color solid;}
.header__logo{
    font-family:"Shrikhand";
    margin: 0;
    text-align: center;}
main  {
    display:block;
     }
section{
    display:block;} 
.local{
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #f3f3f3;
    font-size: 1.2rem;
    position: relative;
    font-weight:600;}
.intro{     
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;}
.intro__title{
    margin: 0;}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}
.intro__subtitle{
    font-weight: 300;
    margin: 1.5rem 0;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}
$primary-color:#9356DC;
$secondary-color:#FF79DA;
.intro__btn{
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-image:linear-gradient(340deg,$primary-color,$secondary-color);
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow:0.25rem 0.25rem 0.25rem 0.15rem rgb(234, 230, 230) ;}
.intro__btn:hover{
    opacity:0.85;}
.tuto {
        padding: 2rem 1rem;}       
.container {
        max-width: 1280px;
        margin: auto;
        position: relative;}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold}
.tuto__title {
        margin-top:0}
.tuto__steps {
        margin: 0;
        padding: 0;
        list-style: none;
        counter-reset: compteListe;}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;}
.tuto__step {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(172, 169, 169);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;}  
li{
    text-align:-webkit-match-parent;
}
.tuto__step:before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -0.75rem;}   
.tuto__icon {
        margin-right: 1rem;
        color: #7e7e7e}
.fa, .fas {
    font-weight: 900;}
.tuto__step:hover{
background-color: #efe6f8;
.tuto__icon{
    color:#9356dc;
}}
.text{
    font-weight: 500;
}
.restaurants{
    background-color: #f6f6f6;
    padding: 2rem 1rem;
}
.container {
    max-width: 1280px;
    margin: auto;
    position: relative;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.cards {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 2rem;}
.card {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;}
a{
    cursor:pointer}
.card__img {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;}
.card__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;}
.card__div {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;}  
.card__content {
        flex: 1;}
.card__title {
    margin: 0 0 0.25rem;} 
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}
.card__subtitle {
    margin: 0;}
    
