*{
box-sizing: border-box;}

$shadow-color:#f5eeee;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99e2d0;
body
{
    margin:0px;
    font-family: "Roboto","sans-serif";}  
.loader {
    background-color: #ffffff;
    opacity:0.9;
    height:100vh;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: disappear 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    transition:2.5s;}   
@keyframes disappear{
    0%{
        transform:scale(1)
    }
    100%{
        transform:scale(0)
    }
}
.loader__itemContainer {
    display: flex;
    width: 7rem;
    justify-content:space-between;}
.loaderitem--1 {
    background-color: $primary-color;}
.loaderitem--2 {
    background-color: $secondary-color;}
.loaderitem--3 {
    background-color: $tertiary-color;   }
.loader__item {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    animation: jump 2.5s linear;
    animation-iteration-count: 1;}
@keyframes jump{
    0%{
        transform:translate(-50%,-50%)scale(1.25,0.75)}
    50%{
        transform:translate(-50%,-150%)scale(1,1) }
    100%{
        transform:translate(-50%,-50%)scale(1.25,0.75) }
}
header{
    padding: 1rem;
    display: block;}
.header__logo{
    font-family:"Shrikhand";
    margin: 0;
    text-align: center;}
main  {
    display:block;
     }
section{
    display:block;} 
.local{
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #f3f3f3;
    font-size: 1.2rem;
    position: relative;
    font-weight:600;}
.local__icon{
    margin-right:1rem;}    
.intro{     
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;}
.intro__title{
    margin: 0;}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}
.intro__subtitle{
    font-weight: 300;
    margin: 1.5rem 0;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}
.intro__btn{
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-image:linear-gradient(340deg,$primary-color,$secondary-color);
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow:0.25rem 0.25rem 0.25rem 0.15rem rgb(234, 230, 230) ;}
.intro__btn:hover{
    opacity:0.85;
    box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem rgb(234, 230, 230);}
.tuto {
    padding: 2rem 1rem;}       
.container {
    max-width: 1280px;
    margin: auto;
    position: relative;}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold}
.tuto__title {
    margin-top:0}
.tuto__steps {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;}
.tuto__step {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(172, 169, 169);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;}  
li{
    text-align:-webkit-match-parent;
}
.tuto__step:before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -0.75rem;}   
.tuto__icon {
        margin-right: 1rem;
        color: #7e7e7e}
.fa, .fas {
    font-weight: 900;}
.tuto__step:hover{
    background-color: #efe6f8;
.tuto__icon{
    color:#9356dc;
}}
.text{
    font-weight: 500;
}
.restaurants{
    background-color: #f6f6f6;
    padding: 2rem 1rem;}
.container {
    max-width: 1280px;
    margin: auto;
    position: relative;}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}
.cards {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 2rem;}
.card {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;}
a{
    cursor:pointer}
.card__img {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;}
.card__badge {
    background-color:$tertiary-color;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;}
.card__div {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;}  
.card__content {
        flex: 1;}
.card__title {
    margin: 0 0 0.25rem;} 
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}
.card__subtitle {
    margin: 0;}
                /*-------------heart----------------*/
.menu__btn {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    position: relative;
    border:none;
    background-color: inherit;
    }
.menu__btn:before, .menu__like {
    position: absolute;
    top: 0;
    left: 0;}
.menu__like--bg {
    background-image: linear-gradient(360deg,$primary-color,$secondary-color);
    opacity:0;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent; 
}
.menu__like--bg:hover{
    opacity:1;
    transition:0.5s;
}
footer{
    display:block;}               
.footer {
    background-color:#353535;}
.footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;}
.footer__logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem;}
.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;}
li {
    display: list-item;
    text-align: -webkit-match-parent;}
.footer__list__content {
    margin: 0.5rem;}
.footer__list__content:first-child {
    margin-top: 0;}
.footer__link {
    color: #fff;
    text-decoration: none;}
.footer__icon {
    width: 1.2rem;
    margin-right: 0.5rem;}                               

                /*la-palette-du-gout*/
.header--withBackarrow{
    position:relative;} 
.header__arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;}               
.restaurant__Img {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;}
.menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    position: relative;}
.menu__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;}
.menu__title {
    font-family: Shrikhand,"cursive";}
.submenus {
    display: flex;
    flex-direction: column;}
.submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;}    
.submenu__title {
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;}
.submenu__title:after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;}

.menuItem {                   
    background-color: #fff;
    display: flex;
    border-radius: 0.75rem;
    margin: 0.7rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(223, 220, 220);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear 0.9s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;}
@keyframes itemAppear{
    0%{ transform:scale(0)
    }
    100%{transform:scale(1)}
}  
.delay-0 {
    animation-delay: 0s;
}
.delay-1{
    animation-delay:0.1s ;
}
.delay-2{
    animation-delay:0.2s ;
}
.delay-3{
    animation-delay:0.3s
}
.delay-4{
    animation-delay:0.4s
} 
.delay-5{
    animation-delay:0.5s
} 
.delay-6{
    animation-delay:0.6s
} 
.delay-7{
    animation-delay:0.7s
} 
.delay-8{
    animation-delay:0.8s
}   
.menuItem:hover > .menuItem__confirmation {
    margin:0;
>.menuItem__wrapIcon{
    transform:rotate(0deg);}}    
.menuItem__header {
    flex: 1;
    overflow: hidden;
    padding: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;}
.menuItem__title {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}
.menuItem__description {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}
.menuItem__price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
    padding: 1rem;}
.menuItem__confirmation {
    background-color: $tertiary-color;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .6s;}            
.menuItem__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .7s;}
.menuItem__icon {
    color:$tertiary-color;}
.orderBtn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
}
.orderBtn__Btn {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-image:linear-gradient(340deg,$primary-color,$secondary-color);
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow:0.25rem 0.25rem 0.25rem 0.15rem rgb(234, 230, 230) ;}
.orderBtn__Btn:hover{
    opacity:0.85;
    box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem rgb(234, 230, 230);}



