* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto","sans-serif";
}

.loader {
  background-color: #ffffff;
  opacity: 0.9;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: disappear 1s;
          animation: disappear 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-transition: 2.5s;
  transition: 2.5s;
}

@-webkit-keyframes disappear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disappear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.loader__itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loaderitem--1 {
  background-color: #9356DC;
}

.loaderitem--2 {
  background-color: #FF79DA;
}

.loaderitem--3 {
  background-color: #99e2d0;
}

.loader__item {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  -webkit-animation: jump 2.5s linear;
          animation: jump 2.5s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1.25, 0.75);
            transform: translate(-50%, -50%) scale(1.25, 0.75);
  }
  50% {
    -webkit-transform: translate(-50%, -150%) scale(1, 1);
            transform: translate(-50%, -150%) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.25, 0.75);
            transform: translate(-50%, -50%) scale(1.25, 0.75);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1.25, 0.75);
            transform: translate(-50%, -50%) scale(1.25, 0.75);
  }
  50% {
    -webkit-transform: translate(-50%, -150%) scale(1, 1);
            transform: translate(-50%, -150%) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.25, 0.75);
            transform: translate(-50%, -50%) scale(1.25, 0.75);
  }
}

header {
  padding: 1rem;
  display: block;
}

.header__logo {
  font-family: "Shrikhand";
  margin: 0;
  text-align: center;
}

main {
  display: block;
}

section {
  display: block;
}

.local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  position: relative;
  font-weight: 600;
}

.local__icon {
  margin-right: 1rem;
}

.intro {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}

.intro__title {
  margin: 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.intro__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}

p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.intro__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-image: linear-gradient(340deg, #9356DC, #FF79DA);
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.15rem #eae6e6;
          box-shadow: 0.25rem 0.25rem 0.25rem 0.15rem #eae6e6;
}

.intro__btn:hover {
  opacity: 0.85;
  -webkit-box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem #eae6e6;
          box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem #eae6e6;
}

.tuto {
  padding: 2rem 1rem;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.tuto__title {
  margin-top: 0;
}

.tuto__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}

ol {
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.tuto__step {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem #aca9a9;
          box-shadow: 0.25rem 0.25rem 0.5rem #aca9a9;
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

li {
  text-align: -webkit-match-parent;
}

.tuto__step:before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}

.tuto__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

.fa, .fas {
  font-weight: 900;
}

.tuto__step:hover {
  background-color: #efe6f8;
}

.tuto__step:hover .tuto__icon {
  color: #9356dc;
}

.text {
  font-weight: 500;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}

a {
  cursor: pointer;
}

.card__img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.card__div {
  padding: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card__title {
  margin: 0 0 0.25rem;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.card__subtitle {
  margin: 0;
}

/*-------------heart----------------*/
.menu__btn {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  position: relative;
  border: none;
  background-color: inherit;
}

.menu__btn:before, .menu__like {
  position: absolute;
  top: 0;
  left: 0;
}

.menu__like--bg {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(360deg, #9356DC, #FF79DA);
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menu__like--bg:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer {
  display: block;
}

.footer {
  background-color: #353535;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.footer__logo {
  color: #fff;
  font-family: Shrikhand,"cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.footer__list__content {
  margin: 0.5rem;
}

.footer__list__content:first-child {
  margin-top: 0;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/*la-palette-du-gout*/
.header--withBackarrow {
  position: relative;
}

.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.restaurant__Img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
}

.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__title {
  font-family: Shrikhand,"cursive";
}

.submenus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}

.submenu__title {
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}

.submenu__title:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.75rem;
  margin: 0.7rem 0;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem #dfdcdc;
          box-shadow: 0.25rem 0.25rem 1rem #dfdcdc;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: itemAppear 0.9s;
          animation: itemAppear 0.9s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: scale(0);
          transform: scale(0);
  max-width: 100%;
}

@-webkit-keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.delay-0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.delay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.menuItem:hover > .menuItem__confirmation {
  margin: 0;
}

.menuItem:hover > .menuItem__confirmation > .menuItem__wrapIcon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menuItem__header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  padding: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menuItem__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menuItem__description {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menuItem__price {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 0.5rem;
  padding: 1rem;
}

.menuItem__confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.menuItem__icon {
  color: #99e2d0;
}

.orderBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

.orderBtn__Btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-image: linear-gradient(340deg, #9356DC, #FF79DA);
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.15rem #eae6e6;
          box-shadow: 0.25rem 0.25rem 0.25rem 0.15rem #eae6e6;
}

.orderBtn__Btn:hover {
  opacity: 0.85;
  -webkit-box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem #eae6e6;
          box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem #eae6e6;
}

@media screen and (min-width: 1280px) {
  ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .submenus {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=accueil.css.map */